@font-face{font-family:OTJubilee-Platinum;font-style:normal;src:url(/fonts/otjubilee-platinumregular.woff) format("woff");font-display:swap}
@font-face{ascent-override:100%;descent-override:10%;font-family:Voyage-Regular;font-style:normal;src:url(/fonts/voyage-regular.woff) format("woff");font-display:swap}
@font-face{font-family:Switzer-Medium;font-style:normal;src:url(/fonts/switzer-medium.woff) format("woff");font-display:swap}
@font-face{font-family:Switzer-Regular;font-style:normal;src:url(/fonts/switzer-regular.woff) format("woff");font-display:swap}
